html, body {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: "Unbounded", sans-serif;
}

main{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.scrolling-text-top {
	position: fixed;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4;
	top: 0;
	left: 0;
	animation: scrolling-text-2 16s ease-in-out 1.24s infinite reverse;
	padding-top: 20px;
}
.scrolling-text-bottom {
	position: fixed;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4;
	bottom: 0;
	left: 0;
	animation: scrolling-text 16s ease-in-out 1.24s infinite reverse;
	padding-bottom: 20px;
}
.scrolling-text {
	color: rgb( 255,255,255 );
	font-size: 1.64vw;
	text-shadow: 1px 1px 0px rgb(88,88,88), 0 0 25px rgb( 32,175,255 ), 0 0 2px rgb( 0,175,255 );
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.background-video-overlay{
	mix-blend-mode: overlay;
	background: rgb( 32,175,255 );
	width: 100vw;
	height: 100vh;
	object-fit: cover;
  	position: fixed;
  	top: 0;
  	left: 0;
	z-index: -1;
	opacity: 0.4;
	filter: sepia( 10% );
}
.background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
  	position: fixed;
  	top: 0;
  	left: 0;
	z-index: -2;
	filter: grayscale(25%);
}

.viewport-header {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.links{ z-index: 3; }

a:link{
	font-size: 2vw;
	text-decoration: none;
	color: rgb(255,255,255);
	margin: 12px;
	text-shadow: 0px 0px 3px rgb(88,88,88), 0 0 25px rgb( 32,175,255 ), 0 0 2px rgb( 0,175,255 );
	transition: all 2.44s;
}

a:visited{
	text-decoration: none;
	color: rgb(255,255,255);
}

a:hover{
	text-decoration: underline;
	color: rgb(255,255,255);
}

a:active{
	text-decoration: none;
	color: rgb(255,255,255);
	scale:1.2;
}

#headline {
  font-weight: 900;
  color: rgb(255,255,255);
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.0;
  font-size: 12vw;
  text-align: center;
  font-weight: 900; 
  text-shadow: 0px 0px 8px rgb(88,88,88), 0 0 16px rgb( 32,175,255 ), 0 0 2px rgb( 0,175,255 );
}
#headline:hover {
	animation: opacity-fade 4.44s ease-in-out 2.72s infinite reverse;
}
@keyframes scrolling-text {
	0%{ transform: translateX(-150%); }
	100%{ transform : translateX(150%); }
}
@keyframes scrolling-text-2 {
	0%{ transform: translateX(150%); }
	100%{ transform : translateX(-150%); }
}
@keyframes opacity-fade {
	0%{ opacity: 1; }
	100%{ opacity: 0; }
}
@media (max-width: 420px) {
    .background-video { display: none; }
    /*body {
      background: url("") no-repeat;
      background-size: cover;
    }*/
}